body#LoginForm{ 
  background-image:url("https://bringmethenews.com/.image/t_share/MTU4MDcyODc4NTczNTYxMzQ4/library-books-.jpg"); 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  }

  /*Commit*/

.form-heading { 
  color:black; 
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-size:35px;
  text-align: center;
}

.panel h2{ 
  color:#444444; 
  font-size:18px; 
  margin:0 0 8px 0;}

.panel p { 
  color:#777777; 
  font-size:14px; 
  margin-bottom:30px; 
  line-height:24px;}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
  border-radius: 170px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { 
  text-align: left; 
  margin-top:10px;}
.back a {

  color: #444444; font-size: 13px;
<<<<<<< HEAD
  text-decoration: none;}

/*Inicio Consulta Livro*/

.principal-emprestimo{
   background-color: cornflowerblue;
   width: 100%;
   height: 600px;
   align-items: center;
   display: flex;
}

.container{
   width: 40%;
   display: flex;
}

.after-container-emprestimo{
   display: block;
   justify-content: center;
   width: 100%;
}

.titulo-emprestimo{
   font-size: 40px;
}

.form-emprestimo{
   color: white;
}

.btn-emprestimo-checar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-emprestimo-checar button{
  width: 100%;
}
/*Final Consulta Livro*/
=======
  text-decoration: none;}
>>>>>>> 7e40c46b1d0da7a0040cdc56cf580c2c99fedcff
